.btn.btn-circle {
    float: left;
    width: 22px;
    height: 22px;
    margin: 5px 20px;
}

.barner {
    /*background-image: url(../../assets/imgs/barner-04.png);*/
    height: 34%;
}

.barner .games {
    position: relative;
    width: 970px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #fff;
    z-index: 1000;
}

.barner .games .box {
    position: absolute;
    top: 35px;
    right: 120px;
}

.barner .games .box img {
    width: 110px;
    height: 110px;
}

.barner .games .box h1 {
    font-size: 36px;
    word-break: keep-all;
}

.barner .games .box .down {
    margin-top: 30px;
}

.barner .games .down .item {
    width: 130px;
    float: left;
}

.content {
    margin-top: 20px;
    padding: 0 20px;
}

.content > section {
    width: 970px;
    margin: auto;
}

.content .news-scroll .news-item {
    margin: 0 60px;
    padding: 6px 20px;
    border: solid 1px;
}

.content .news-scroll .news-item .icon-box {
    float: left;
}

.content .news-scroll .news-item .text-box {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    padding-right: 50px;
    text-align: center;
}

.content .news-scroll .news-item img {
    width: 30px;
    height: 30px;
}

.content .game-img-list {
    margin-top: 50px;
}

.content .game-img-list .game-box {
    padding: 30px 40px;
    border-bottom: solid 2px #ccc;
}

.content .game-img-list .game-box img {
    width: 100%;
    height: 335px;
    background: #6ea;
}

.content .hot-goods > * {
    margin: 10px 40px;
}

.hot-goods .top {
    padding-top: 16px;
}

.hot-goods .top > * {
    vertical-align: middle;
    padding-right: 20px;
}

.hot-goods .top {
    padding-top: 16px;
}

.hot-goods .top > * {
    vertical-align: middle;
    padding-right: 20px;
}

.hot-goods .top img.icon-top {
    height: 37px;
}

.hot-goods .top .jiantou span {
    margin-right: -10px;
    vertical-align: middle;
}

.hot-goods .top .jiantou img {
    width: 28px;
    height: 20px;
    margin-right: -20px;
    vertical-align: middle;
}

.hot-goods .top .title {
    font-size: 30px;
    font-weight: bold;
}

.content .hot-goods img {
    vertical-align: middle;
}

.content .hot-goods .pager img {
    width: 40px;
    height: 48px;
}

.content .hot-goods .img-container {
    line-height: 120px;
}

.content .hot-goods .img-container > .pager.pre {
    float: left;
}

.content .hot-goods .img-container > .pager.next {
    float: right;
}

.content #hot_img_box {
    position: relative;
    overflow: hidden;
    height: 120px;
}

.content #hot_img_box .img-group {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.content #hot_img_box .img-group.checked {
    display: block;
}

.content #hot_img_box .img-group .item {
    float: left;
    width: 20%;
    text-align: center;
}

.content #hot_img_box .img-group .item img {
    width: 110px;
    height: 110px;
    background: #eee;
}

.module {
    margin-top: 100px;
}
