html {
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: '微软雅黑', '华文黑体', '黑体';
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}

:-ms-input-placeholder {
    color: #999;
}

select,
input,
button,
a {
    outline: none;
}

a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

a:hover {
    color: blue;
}

ul,
li {
    list-style: none;
}

.container {
    margin: auto;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.tab {
    position: relative;
}

.tab:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.tab-page {
    float: left;
    display: block;
    height: 100%;
}

.tab-title {
    display: block;
    padding: 16px 80px;
    background: rgba(204, 204, 204, 1);
    border: solid 1px #ccc;
    font-size: 20px;
}

.tab-title:hover {
    cursor: pointer;
    background: #eee;
}

.tab-title.first {
    border-radius: 14px 0 0 0;
}

.tab-title.last {
    border-radius: 0 14px 0 0;
}

.tab-title-check {
    position: absolute;
    left: -9999px;
}

.tab-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.tab-title-check:checked + .tab-title {
    background: rgba(102, 204, 255, 1);
    color: #fff;
    font-weight: bold;
}

.tab-title-check:checked ~ .tab-content {
    display: block;
    background: #fff;
}

.nav {
    position: relative;
    height: 470px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav .img-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
}

.nav .img-box img {
    display: none;
    width: 100%;
    height: 100%;
}

.nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 100;
}

.nav-item {
    float: left;
    display: block;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.nav-item .nav-item-title {
    display: block;
    padding: 5px 0;
    height: 100%;
    background: rgba(215, 215, 215, 1);
    border: solid 1px rgba(215, 215, 215, 1);
    font-size: 28px;
}

.nav-item .nav-item-title:hover {
    background: rgba(102, 204, 255, .9);
    color: #eee;
}

.nav-item:first-child .nav-item-title {
    border-radius: 0 0 0 14px;
}

.nav-item:last-child .nav-item-title {
    border-radius: 0 0 14px 0;
}

.nav-item.checked .nav-item-title {
    background: rgba(102, 153, 255, 1);
    border: solid 1px rgba(102, 153, 255, 1);
    color: #fff;
    font-weight: bold;
}

.nav-item:hover .submenu {
    display: block;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    width: 100%;
    font-size: 24px;
}

.nav-item .submenu .submenu-item {
    padding: 10px;
    background: #eee;
    border-left: solid 1px rgba(102, 153, 255, 1);
    border-bottom: solid 1px rgba(102, 153, 255, .8);
}

.nav-item .submenu .submenu-item:hover {
    background: rgba(102, 204, 255, .9);
}

.nav-item .submenu .submenu-item:hover a {
    color: #eee;
}

.btn {
    display: block;
}

.btn-link {
    text-decoration: underline;
    color: blue;
}

.btn.btn-circle {
    border: solid 1px #fff;
    border-radius: 50%;
    background: #ccc;
    opacity: .6;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, .2);
}

.btn.btn-circle.checked {
    background: #0f0;
}

.modal {
    /*display: none;*/
}

.modal,
.modal-content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
}

.modal-content {
    width: 480px;
    height: 300px;
    background: #fff;
}

.modal-mask {
    width: 100%;
    height: 100%;
    background: #555;
    opacity: .5;
}

.line-left {
    border-left: solid 1px #bbb;
}

.line-top {
    border-top: solid 1px #bbb;
}

.line-right {
    border-right: solid 1px #bbb;
}

.line-bottom {
    border-bottom: solid 1px #bbb;
}

.error {
    color: #e33;
}
