.btn.btn-circle {
    float: left;
    width: 15px;
    height: 15px;
    margin: 6px 20px;
}

.content {
    margin-top: 80px;
}

.news-wrapper {
    width: 860px;
    height: 450px;
    margin: auto;
}

.news-wrapper .top {
    padding-top: 16px;
}

.news-wrapper .top > * {
    vertical-align: middle;
    padding-right: 20px;
}

.news-wrapper .top img.icon-top {
    width: 79px;
    height: 79px;
}

.news-wrapper .top .jiantou span {
    margin-right: -10px;
    vertical-align: middle;
}

.news-wrapper .top .jiantou img {
    width: 28px;
    height: 20px;
    margin-right: -20px;
    vertical-align: middle;
}

.news-wrapper .top .title {
    font-size: 30px;
    font-weight: bold;
}

.tab {
    height: 360px;
}

.tab-page {
    width: 33.33%;
}

.tab-title {
    height: 60px;
    line-height: 60px;
}

.tab .tab-content {
    width: 850px;
    height: 300px;
    /*border: solid 1px #eee;*/
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);*/
}

.tab .tab-content p {
    top: 60px;
    margin: 20px;
    height: 45px;
    line-height: 48px;
    border-bottom: solid 2px #eee;
    text-align: center;
}

.goods-wraper {
    width: 84%;
    height: 310px;
    margin: 80px auto;
    margin-bottom: 0;
    overflow: hidden;
}

.goods-wraper .img-box {
    width: 400%;
    height: 190px;
    position: relative;
}

.goods-wraper .img-box .img-wrapper {
    width: 25%;
    position: absolute;
    display: none;
}

.goods-wraper .img-box .img-wrapper.checked {
    display: block;
}

.goods-wraper .img-box .img-item {
    float: left;
    width: 23%;
    height: 150px;
    margin: 20px 1%;
    background: #f33;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.goods-wraper .img-box .img-item img {
    width: 100%;
    height: 100%;
}

.goods-wraper .img-action {
    width: 1000px;
    margin: auto;
}

.goods-wraper .line {
    float: left;
    display: block;
    width: 370px;
    height: 22px;
    overflow: hidden;
    margin-top: 50px;
    letter-spacing: -3px;
    font-weight: bold;
    color: #ccc;
}

.goods-wraper .btn-wrapper {
    float: left;
    width: 230px;
    margin-top: 45px;
}

.goods-wraper .btn-wrapper .btn-circle.checked {
    background: rgba(120, 180, 0, 1);
}

#activitiesBox .news-item a:hover,
#noticesBox .news-item a:hover,
#newsBox .news-item a:hover {
    color: #e33;
}
