.header .container {
    width: 970px;
}

.barner {
    height: 300px;
}

.barner .img-wrapper {
    width: 970px;
    height: 300px;
    margin: auto;
    position: relative;
}

.barner .img-wrapper img {
    position: absolute;
    width: 40%;
    height: 180px;
    top: 20px;
    bottom: 0;
    z-index: 9000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.barner .img-wrapper img:nth-of-type(2) {
    width: 50%;
    height: 220px;
    left: 0;
    right: 0;
    z-index: 9001;
    margin: auto;
}

.barner .img-wrapper img:nth-of-type(3) {
    right: 0;
}

.content {
    margin: 80px auto;
}

.content .news-scroll .news-item {
    margin: 0 250px;
    padding: 6px 20px;
    border: solid 1px;
}

.content .news-scroll .news-item .icon-box {
    float: left;
}

.content .news-scroll .news-item .text-box {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    padding-right: 50px;
    text-align: center;
}

.content .news-scroll .news-item img {
    width: 30px;
    height: 30px;
}

.content #tab_main {
    width: 970px;
    margin-top: 20px;
}

.content .tab {
    margin: auto;
    border: none;
}

.content #tab_main > .tab-page {
    height: 640px;
}

.content .tab .tab-title {
    padding: 0 80px;
    height: 50px;
    line-height: 50px;
    border: none;
    /*border-radius: 14px 14px 0 0;*/
}

.tab-title-check:checked + .tab-title {
    background: rgba(102, 204, 255, 1);
    color: #eee;
}

.content #tab_main > .tab-page > .tab-content {
    top: 50px;
    border-top: solid 2px #6cf;
}

.content .tab .tab-content .container {
    height: 100%;
    padding: 20px;
}

.content .tab .tab-content .container .left {
    float: left;
    width: 210px;
    height: 100%;
    background: #f2f2f2;
    border-right: solid 1px #d2d2d2;
    font-size: 14px;
    text-align: center;
}

.content .tab .tab-content .container .left img {
    width: 42px;
    height: 30px;
}

.content .tab .tab-content .container .left p {
    padding: 5px 0;
    margin: 0 20px;
}

.content .tab .tab-content .container .left p.logoicon {
    padding-top: 30px;
}

.content .tab .tab-content .container .left p.agree {
    font-size: 16px;
    margin-top: 160px;
}

.content .tab .tab-content .container .left p.agree .iconfont {
    font-size: 24px;
    vertical-align: middle;
    padding-right: 3px;
}

.content .tab .tab-content .container .left p.agree a.tiaoli {
    padding-left: 3px;
    color: #58f;
}

.content .tab .tab-content .container .left p.error {
    display: none;
    margin: 0;
}

.content .tab .tab-content .container .main {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px;
    background: #f9f9f9;
    border: solid 1px #ddd;
}

.content .tab .tab-content .container .main p {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 40px;
}

.content .tab .tab-content .container .main p > * {
    vertical-align: middle;
}

.content .tab .tab-content .container .main p.line {
    height: 0px;
}

.content .tab .tab-content .container .main p.half {
    width: 50%;
}

.content .tab .tab-content .container .main input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.content .tab .tab-content .container .main input[type="radio"]:checked + .label-show {
    background: rgba(102, 204, 204, 1);
    color: #fff;
}

.content .tab .tab-content .container .main input {
    padding: 8px 20px;
    border: solid 1px #ddd;
}

.content .tab .tab-content .container .main .label-show {
    padding: 5px 20px;
    border: solid 1px #ddd;
    background: #eee;
    cursor: pointer;
}

.content .tab .tab-content .container .main form > section {
    margin-bottom: 10px;
}

.content .tab .tab-content .container .main form > section.input p {
    margin: 5px 0;
}

.content .tab .tab-content .container .main .submit-bar {
    margin-top: 80px;
}

.content .tab .tab-content .container .main .submit-bar input {
    width: 180px;
    height: 50px;
    margin-left: 120px;
    background: rgba(255, 51, 0, .8);
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}


/*.content .tab .tab-page-exchange > .tab {
    width: auto;
    margin: 20px;
    background: #f8f8f8;
    height: 550px;
}*/

.content #tab_exchange {
    height: 570px;
    margin: 20px;
    background: #f8f8f8;
}

.content #tab_exchange > .tab-page > .tab-content {
    left: 200px;
    background: #f2f2f2;
    z-index: 999;
}

.content #tab_exchange > .tab-page > .tab-title {
    position: absolute;
    height: 60px;
    padding: 0;
    border: none;
    background: #f2f2f2;
    z-index: 1000;
}

.content #tab_exchange .tab-page:nth-of-type(2) > .tab-title {
    top: 64px;
}

.content #tab_exchange > .tab-page > .tab-title-check:checked + .tab-title {
    border-left: solid 2px rgba(102, 204, 204, 1);
    border-top: solid 2px rgba(102, 204, 204, 1);
    border-bottom: solid 2px rgba(102, 204, 204, 1);
    color: rgba(102, 204, 204, 1);
    width: 202px;
}

.content #tab_exchange > .tab-page > .tab-title-check:checked ~ .tab-content {
    border: solid 2px rgba(102, 204, 204, 1);
    height: 566px;
}

.grid {
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}

.grid-item {
    float: left;
}

.grid-item .panel {
    height: 100%;
}

.grid-item img {
    margin-top: 5%;
    width: 100%;
    height: 70%;
}

.grid-item p {
    padding: 5px;
}

.grid-item a {
    margin-left: 20px;
    padding: 1px 15px;
    border: solid 1px #ccc;
    border-radius: 3px;
    color: #555;
}

#tab_content_exchange_diamond .grid-item {
    width: 33.33%;
    height: 33.33%;
}

#tab_content_exchange_diamond .grid-item .panel {
    margin: 0 20px;
}

#tab_content_exchange_diamond .grid {
    display: none;
    height: 80%;
    margin: 0 50px;
    margin-top: 30px;
}

#tab_content_exchange_diamond .grid.visible {
    display: block;
}

#tab_content_exchange_diamond .grid + .pager {
    padding: 10px;
    margin-top: 4%;
    border-top: solid 1px #ccc;
}

#pager_tab_exchange_diamond_1.pager .btn-pager {
    padding: 4px 10px;
    margin-left: 10px;
    float: right;
    border: solid 1px #ccc;
}

#pager_tab_exchange_diamond_1.pager .btn-pager.btn-num {
    background: #ddd;
    border: 0;
}

.content #tab_exchange_point_grid {
    width: 100%;
    height: 100%;
}

.content #tab_exchange_point_grid .tab-title.first {
    margin-left: 40px;
}

.content #tab_exchange_point_grid .tab-title.last {
    border-right: none;
}

.content #tab_exchange_point_grid .tab-title {
    height: auto;
    line-height: 1;
    padding: 3px 40px;
    margin: 5px 0;
    background: transparent;
    border: none;
    border-right: solid 1px #555;
    font-size: 16px;
}

.content #tab_exchange_point_grid .tab-title-check:checked + .tab-title {
    color: #000;
}

.content #tab_exchange_point_grid .tab-title-check:checked + .tab-content {
    display: none;
}

.content #tab_exchange_point_grid .tab-content {
    top: 40px;
}

.content #tab_exchange_point_grid .tab-content .grid {
    padding: 0 10px;
    text-align: center;
}

.content #tab_exchange_point_grid .tab-content .grid-item {
    box-sizing: border-box;
    width: 50%;
    height: 180px;
    margin: 26px 0;
}

.content #tab_exchange_point_grid .tab-content .grid-item .panel {
    margin: 0 30px;
    padding: 10px;
    border: solid 1px #aaa;
    font-size: 16px;
}

.content #tab_exchange_point_grid .tab-content .grid-item .panel img {
    float: left;
    display: block;
    height: 160px;
    width: 160px;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, .2);
}

.content #tab_exchange_point_grid .tab-content .grid-item .panel div.info {
    display: block;
    height: 140px;
    padding: 10px 10px;
    overflow: hidden;
}

.content #tab_exchange_point_grid .tab-content .grid-item .panel div.info > * {
    display: block;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}

.content #tab_exchange_point_grid .tab-content .grid-item .panel div.info > .price {
    color: #e33;
}

.content #tab_exchange_point_grid .tab-content .pager {
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    padding: 10px;
    border-top: solid 1px #ccc;
}

.content #tab_exchange_point_grid .tab-content .pager .btn {
    float: right;
    padding: 4px 10px;
    margin: 0 5px;
    background: #ddd;
}

.content #tab_exchange_point_grid .tab-content .pager .btn.btn-enum {
    padding: 4px 6px;
    border: solid 1px #ccc;
    background: transparent;
}

#form_recharge section.input p.error {
    display: none;
    height: auto;
    color: #e33;
    border: solid 1px;
    padding: 0 10px;
    vertical-align: middle;
}
