.btn.btn-circle {
    float: left;
    width: 22px;
    height: 22px;
    margin: 5px 20px;
}

.barner {
    background-image: url(../../assets/imgs/barner-04.png);
    height: 420px;
}

.barner .btn-wrapper {
    display: none;
}

.content {
    margin-top: 20px;
}

.news-scroll .news-item {
    margin: 0 250px;
    padding: 6px 20px;
    border: solid 1px;
}

.news-scroll .news-item .icon-box {
    float: left;
}

.news-scroll .news-item .text-box {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    padding-right: 50px;
    text-align: center;
}

.news-scroll .news-item img {
    width: 30px;
    height: 30px;
}

.news-wrapper {
    width: 1000px;
    height: 450px;
    margin: 30px auto;
}

.news-wrapper .tab {
    height: 480px;
}

.news-wrapper .tab .tab-content {
    top: 50px;
    width: 100%;
}

.news-wrapper .tab .tab-content .news-list {
    float: left;
    width: 100%;
    margin-right: -420px;
    text-align: center;
}

.news-wrapper .tab .tab-content .news-list > * {
    width: auto;
    margin-right: 420px;
}

.news-wrapper .tab .tab-content .news-list .news-item-wrapper {
    height: 305px;
}

.news-wrapper .tab .tab-content .news-list .pager {
    padding: 20px 0;
}

.news-wrapper .tab .tab-content .news-list .news-item {
    margin: 20px;
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #aaa;
    text-align: center;
}

.news-wrapper .tab .tab-content .news-list .news-item a:hover {
    color: #e33;
}

.news-wrapper .tab .tab-content .news-list .news-noitem {
    margin: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.news-wrapper .tab .tab-content .news-list .pager .btn {
    display: inline;
    padding: 0 20px;
}

.news-wrapper .tab .tab-content .news-show {
    float: right;
    width: 340px;
    padding: 0 40px;
}

.news-wrapper .tab .tab-content .news-show .down img {
    width: 110px;
    height: 110px;
}

.news-wrapper .tab .tab-content .news-show .down .down-item {
    float: left;
    width: 50%;
    line-height: 50px;
    text-align: center;
}

.news-wrapper .tab .tab-content .news-show .down .down-item > * {
    display: block;
    margin: auto;
}

.news-wrapper .tab .tab-content .news-show .acti li {
    margin: 10px 0;
}

.news-wrapper .tab .tab-content .news-show .acti li img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.news-wrapper .tab .tab-page {
    width: 33.33%;
}

.news-wrapper .tab .tab-page .tab-title {
    height: 50px;
    line-height: 50px;
}

.module {
    margin-top: 100px;
}
