input[type="submit"]:focus,
a:focus {
    outline: solid 1px #58e;
}

.barner {
    background-image: url(../../assets/imgs/barner-04.png);
    height: 34%;
}

.barner .btn-wrapper {
    display: none;
}

.content {
    width: 970px;
    margin-top: 60px;
    font-size: 18px;
}

.content > .title {
    width: 100%;
    margin-left: -30px;
    padding: 20px 30px;
    border-bottom: solid 2px #ccc;
}

.content > .title img {
    width: 40px;
}

.content > .title > * {
    display: inline;
    vertical-align: middle;
    width: 68px;
    font-size: 32px;
    padding-right: 20px;
}

.content .content-wrapper {
    margin-top: 30px;
}

.menu {
    float: left;
    width: 220px;
    color: #000;
}

.menu .title {
    width: 210px;
    padding: 10px 0;
    color: #555;
    border-bottom: solid 2px #aaa;
}

.menu .menu-wrapper .menu-item {
    width: 160px;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: solid 1px #999;
}

.main {
    margin-left: 220px;
    margin-right: 20px;
    background: rgba(242, 242, 242, 1);
    position: relative;
    height: 430px;
    border-radius: 90px 0 240px 0;
}

.main span {
    vertical-align: middle;
}

.main .bg-top {
    height: 188px;
}

.main .bg-top img {
    width: 100%;
}

.main .circle {
    position: absolute;
    left: 0;
    top: 110px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid 1px #eee;
    border-radius: 50%;
    background: #fff;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.main .circle .img-touxiang {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.main p.hello {
    width: 300px;
    font-size: 24px;
    padding: 25px;
    padding-left: 160px;
    padding-bottom: 35px;
    border-bottom: solid 1px #aaa;
}

.main p.hello .username {
    color: #38f;
    margin-right: 10px;
}

.main p.info {
    position: absolute;
    top: 200px;
    right: 0;
    width: 180px;
    height: 30px;
    padding: 2px 5px;
    background: rgba(54, 169, 206, 1);
    color: #fff;
}

.main p.info .label {
    font-weight: 900;
}

.main p.info .value {
    color: #f63;
}

.main p.info.info1 {
    right: -50px;
}

.main p.info.info2 {
    top: 260px;
    right: -20px;
}

.main p.info.info3 {
    top: 320px;
    right: 10px;
}

.main p.info.info4 {
    top: 380px;
    right: 40px;
}
